{% extends "voicex/base.html" %}
{%load static%}
{% block content %}

  body
  {
    background-image:url("https://images.pexels.com/photos/1037992/pexels-photo-1037992.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg2
  {
    background-color: #0f6070;
    opacity: 0.6;
  }

  .box
  {
    box-shadow:5px 5px 2px #888888;
    border-radius: 10px;
    padding: 50px;
    margin-left: 325px;
    font-family: Times;
    width: 570px;
  }

  </style>

  <body oncontextmenu="func1()">

  <div>
    <header class="header1">
      <div class="text-center">
      <br>
      <div class="a">VoiceX</div>
      </div>
    </header>
  </div>

  <div class="justify-content-center align-items-center">
    <div class="container centre">
      <div class="box bg2" style="position:relative; left:-40px">

        <div class="row">
        <div class="col-5">
        <div class="text1 text-left">Hello</div>
        </div>
        <div class="col-7">
          <audio controls>
            <source src="{% static 'audio/h.mp3' %}" type="audio/mpeg">
          </audio>
        </div>
        </div>
        <br>

        <div class="row">
        <div class="col-5">
        <div class="text1 text-left">Good Morning</div>
        </div>
        <div class="col-7">
          <audio controls>
            <source src="{% static 'audio/gm.mp3' %}" type="audio/mpeg">
          </audio>
        </div>
        </div>
        <br>

        <div class="row">
        <div class="col-5">
        <div class="text1 text-left">How are you?</div>
        </div>
        <div class="col-7">
          <audio controls>
            <source src="{% static 'audio/hru.mp3' %}" type="audio/mpeg">
          </audio>
        </div>
        </div>
        <br>

        <div class="row">
        <div class="col-5">
        <div class="text1 text-left">I'm fine</div>
        </div>
        <div class="col-7">
          <audio controls>
            <source src="{% static 'audio/imf.mp3' %}" type="audio/mpeg">
          </audio>
        </div>
        </div>
        <br>

        <div class="row">
        <div class="col-5">
        <div class="text1 text-left">Goodbye</div>
        </div>
        <div class="col-7">
          <audio controls>
            <source src="{% static 'audio/gb.mp3' %}" type="audio/mpeg">
          </audio>
        </div>
        </div>
        <br>

        <br>
      </div>
    </div>
  </div>

  </body>

  <script>
    function func1()
    {
      return false;
    }
  </script>

{% endblock content %}
